@{
    ViewData["Title"] = "Оформление въезда";
}
 
<!DOCTYPE html>
<html>
<head>
    <title>Оформление въезда</title>
</head>
<body>
<div>
    <p>Для оформления въезда заполните следующие поля:</p>
    <form method="post">
        <input type="hidden" value="@ViewBag.TariffId" name="TariffId" />
        <table>
            <tr>
                <td>Имя:</td>
                @if (User.Identity.IsAuthenticated)
                {
                <td><input type="text" value="@User.Identity.Name" name="User" /></td>
                }
                else
                {
                    <td><input type="text" name="User"/></td>
                }
            </tr>
            <tr><td><input type="submit" value="Въехать" /> </td><td></td></tr>
        </table>
    </form>
</div>
</body>
</html>
