@{
    ViewData["Title"] = "Оформление въезда";
}
<html>
<head>
    <title>Добро пожаловать на парковку</title>
</head>
<body>  
    <table>
        <tr><td><a href="~/Account/Login/">Войти \ Зарегестрироваться</a></td></tr>

        <tr><td><a href="~/Home/RegisteredTariffs/">Заехать на парковку</a></td></tr>
    </table>
</body>
</html>
